
body {
	margin: 0;
}

.head {
	overflow: hidden;
	width: 100%;
	min-height: 1px;
	border: 1px solid blue;
}

.head ul {
	float: right;
	list-style: none;
}
.head ul li {
	float: left;
	margin-right: 20px;
}